{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}

  <!-- fruits section -->
  <div class="container layout_padding-top" >
    <h2 class="about_heading">If you're here, we're guessing you or
      a loved one were injured or maybe even killed in an accident.
    </h2>
    <p class="about_heading-text">
      We're <em>so sorry.</em> We've been there too.
    </p>
    <p class="about_heading-text">
      It can be difficult to know who to turn to, what questions to ask
      , or what your options are.<br> And we know you're likely dealing with pain, 
      grief, anger, or sadness. That's natural.
    </p>
    <p class="about_heading-text">
      We created Mae to make it as easy as possible to find a trusted legal 
      professional to<br> represent your interests.
    </p>
  </div>
  <!-- {% endblock content %} -->