{% extends 'base.html' %}

{% block title %}For Attorneys{% endblock title %}


{% block content %}

  <section class="service_section layout_padding2 ">
    <div class="container">
      <p class="about_heading-text">
        <strong>Get the right clients for your firm.</strong><br>
        Mae helps expertly match you with clients based on your jurisdiction, areas of expertise and interests.
      </p>
      <p class="about_heading-text">
        <strong>Grow your reputation.</strong><br>
        Mae aims to provide high-quality legal services to personal injury clients. To ensure that clients receive the best possible legal representation, Mae has a selective application process for attorneys who want to be part of the platform. This exclusivity helps to maintain a high standard of legal services on the platform.
      </p>
      <p class="about_heading-text">
        <strong>Get paid.</strong><br>
        Mae eliminates costly referral fees and resources dedicated to evaluation and intake by carefully screening prospective clients and cases in order to produce a direct pipeline of high quality leads.
      </p>
      <p class="about_heading-text">
        <strong>We're here to help you win.</strong><br>
      </p>
      <div class="d-flex justify-content-center">
        <a href="{% url 'account:register' %}" class="custom_pink-btn">
          Apply Now
        </a>
      </div>
    </div>
  </section>

<!-- {% endblock content %} -->