{% extends 'base.html' %}

{% block title %}For Clients{% endblock title %}


{% block content %}

  <!-- service section -->

  <section class="service_section layout_padding2 ">
    <div class="container">
      <h2 class="about_heading">If you're here, we're guessing you or
        a loved one were injured or maybe even killed in an accident.
      </h2>
      <p class="about_heading-text">
        We're <em>so sorry.</em> We've been there too.
      </p>
      <p class="about_heading-text">
        It can be difficult to know who to turn to, what questions to ask
        , or what your options are.<br> And we know you're likely dealing with pain, 
        grief, anger, or sadness. That's natural.
      </p>
      <p class="about_heading-text">
        We created Mae to make it as easy as possible to find a trusted legal 
        professional to<br> represent your interests.
      </p>
      <p class="about_heading-text">
        <strong>We're here to answer all your questions.</strong><br>
        Like what's a standard contingency agreement? Can I see an attorney's track record?<br> How does jurisdiction affect my case? I'm not even sure if I want to
          pursue this, what should I do?<br> We have the information you need to feel confident about your decisions.
      </p>
      <p class="about_heading-text">
        <strong>We will be your trusted guide.</strong><br>
        Legal processes can be intimidating and unfamiliar. We'll let you know exactly what to expect every step of the way – support is personalized to you and your case.
      </p>
      <p class="about_heading-text">
        <strong>We can connect you to a community.</strong><br>
        Wondering how others dealt with similar cases? Ask questions, swap stories, seek and give support with people like you.
      </p>
      <p class="about_heading-text">
        <strong>We're ready when you are.</strong><br>
      </p>
      <div class="d-flex justify-content-center">
        <a href="{% url 'account:register' %}" class="custom_pink-btn">
          Get Started
        </a>
      </div>
    </div>
  </section>

  <!-- end service section -->

<!-- {% endblock content %} -->