{% extends 'base.html' %}
{% load static %}

{% block title %}Mae{% endblock title %}

{% block content %}

  <!--Get rid of slider-->
  <div class="container layout_padding2-top">
    <div class="row">
      <div class="col-md-6">
        <div class="slider_item-detail">
          <div>
            <h1>
              Designed to Help You Make <span style="color: #B19E83"> Informed Decisions</span>
              About <br>Legal Representation
            </h1>
            <p>
              Choose the option for you:
            </p>
            <div class="d-flex">
              <a href="/for-clients" class="custom_pink-btn mr-3">
                For Clients
              </a>
              <a href="/for-attorneys" class="custom_pink-btn mr-3">
                For Lawyers
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="slider_img-box">
          <div>
            <img src="{% static 'images/woman_thinking.png' %}" alt="" class="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>
      Our Service
    </h2>
    <p>
      Mae is a personalized guide focused on helping you make the best decisions about
      legel representation. By aggregating historical data on law firms and attorneys
      across the country, Mae helps you find the right match for your case.
    </p>
  </div>
{% endblock content %}